@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: $beige;

}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.copyright {
    display: inline-block;
    width: 60px;
}


.nav {
    margin: 0 0 0 10px;
    padding: 0;
    background-color: $green;
    display: none;
    position: absolute;
    //right: 0;
    width: 12em;
    z-index: 2;

}


.nav a {
    color: $black;
    font-size: 1.15em;
    display: block;
    text-decoration: none;
}

.nav a:hover {
    color: $white;
    //background-color: $green;
}

.nav li {
    list-style-type: none;
}

.nav ul {
    margin: 10px;
    padding: 0;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-check:checked ~ .nav {
    display: block;
}


.nav-label {
    margin: 10px 10px 0;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    left: 0;

}


.nav-open,
.nav-close {
    display: block;
    width: 100%;
}

.nav-close {
    display: none;

}

.nav-check:checked ~ .nav-label {
    //padding: 0;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}


.bckgrnd {
    position: absolute;
    z-index: -2;
}

.title {
    font-size: 3.5em;
    margin-bottom: 60px;
    text-align: center;
    color: $green;
}

.text {

}

.at-link {
    color: $black;
    text-decoration: none;
    border-bottom: solid 2px $green;
}

.at-link:hover {
    color: $white;
    border-bottom: solid 2px $white;

}

.foot {
    font-size: .75em;
}

.back {
    color: $black;
}

.back:hover {
    fill: $white;
}

.st0 {
    fill:none;
    stroke: $green;
    stroke-width:3;
    stroke-miterlimit:10;
}


.st1 {
    fill:none;
    stroke:#81FF97;
    stroke-width:2;
    stroke-miterlimit:10;
}



@media only screen and (min-width: 25em) {

    .title {
        font-size: 5em;
        margin-bottom: 10%;
    }

    .text {
        margin: 0 50px ;
    }

}




@media only screen and (min-width: 38em) {

    .title {
        font-size: 10em;
        margin-bottom: 12%;
    }

    .text {
        margin: 30px 80px 0 ;
    }

    }

@media only screen and (min-width: 60em) {

    .title {
        font-size: 15em;
        margin-bottom: 18%;
    }

    .text {
        margin: 20px 200px ;
    }

}

@media only screen and (min-width: 90em) {

    .text {
        margin: 40px 500px ;
    }

    }
