<!DOCTYPE html>
<html lang="en-ca">

	<head>
  	<meta charset="utf-8">
  	<title>Witchcraft</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	</head>



<body>

<header class="">
<img class="bckgrnd" src="{{site.baseurl}}/images/background-header.jpg" alt="">
	<input type="checkbox" class="nav-check" id="nav-check">
		<label class="nav-label" for="nav-check">
      <img class="nav-open" src="{{site.baseurl}}/icons/nav-icon.svg" alt="Open Navigation">
      <img class="nav-close" src="{{site.baseurl}}/icons/nav-icon-close.svg" alt="Close Navigation">
		</label>

	<nav class="nav" id="navigation" role="navigation">
		<ul>
			<li><a href="{{site.baseurl}}/index.html" {% if page.url == '/' %} class="current" {% endif %} >Home</a></li>
			<li><a href="{{site.baseurl}}/about/" {% if page.url == '/about/' %} class="current" {% endif %} >About / Contact</a></li>
		</ul>
	</nav>

	<h1 class="title">Witchcraft</h1>
</header>

{{content}}


</body>
</html>
